:root {
  --sidebar-width: 25em;
  --body-width: 70vw;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  width: var(--body-width);
  overflow: auto;
  padding-left: var(--sidebar-width);
  padding-right: 1em;
  margin: 0 auto;
  line-height: 1.6;
  font-size: 1rem;
}

.content {
  padding: 0 2em 30em;
}

#table-of-contents {
  position: fixed;
  top: 0;
  left: 0;
  width: var(--sidebar-width);
  height: 100vh;
  overflow: auto;
  padding: 10px;
}

img {
  width: 100%;
  max-width: 40vw;
  height: 100%;
  object-fit: cover;
}

nav h2 {
  margin: 0;
}

nav ul {
  list-style: none;
  padding: 5px 10px;
}

nav a.active,
nav li.active > a {
  background: #3b4252;
  padding: 5px;
  box-shadow: 3px 3px 11px -3px rgba(61,69,85,0.75);
}

nav li {
  margin-bottom: 10px;
}

nav li a {
  text-decoration: none;
}

nav a:hover {
  padding: 5px;
}
